body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f3fff4;
}

.header {
  background: linear-gradient(135deg,#4caf50,#8bc34a);
  color: white;
  padding: 30px;
  text-align: center;
}

.header input {
  margin-top: 15px;
  padding: 12px;
  width: 300px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

.card h2 {
  color: #388e3c;
  margin: 0;
}

.cat {
  color: #777;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

h4 {
  margin-bottom: 5px;
  margin-top: 15px;
  color: #4caf50;
}
