body{
  margin:0;
  font-family: "Segoe UI", sans-serif;
  background:#f4fbf3;
}

#recipes{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap:20px;
  padding:30px;
}

.recipe-card{
  padding:20px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,.08);
  transition:.3s;
}

.recipe-card:hover{
  transform:scale(1.03);
}

.recipe-card h2{
  margin:0;
  font-size:22px;
}

.cat{
  font-weight:bold;
  margin-bottom:10px;
}

.section{
  background:rgba(255,255,255,.6);
  padding:10px;
  border-radius:12px;
  margin-top:10px;
}

/* COLORS */
.bg-green{background:#b8e6c9;}
.bg-yellow{background:#fff3b0;}
.bg-orange{background:#ffd6a5;}
.bg-pink{background:#ffb7c5;}
.bg-blue{background:#bde0fe;}
.bg-purple{background:#e0c3fc;}
.bg-red{background:#ffc9c9;}
.bg-teal{background:#caffbf;}
